* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem 9%;
}

#demo {
  position: absolute;
  top: 3rem;
  left: 10px;
}

#slide {
  display: none;
}

.btn {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  button {
    padding: 3px 16px;
  }
}

#animation {
  width: 5rem;
  height: 1rem;
  background: #333;
  position: relative;
}
