* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.5em;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 4px #000000 solid;
    margin-bottom: 10px;
}

#container {
    width: 90%;
    margin: auto;
    padding: 10px;
}

#container h1 {
    margin-bottom: 10px;
}

#container p {
    margin-bottom: 20px;
}